/* form {
  position: relative;
}

form svg {
  position: absolute;
  top: 50%;
  left: 0;
} */

body {
  background-color: lightgrey;
}
.profile-scroll {
  opacity: 0;

  transition: all 1s ease;
}
ul li.list-articles:hover {
  background-color: #fcf9f9;
  cursor: pointer;
  border-radius: 15px;
  padding-block: 2px;
  transition: all 300ms;
}
.visible-scroll {
  background-color: #fbfbfb;
  opacity: 1;
  z-index: 2000;
  position: sticky;
  top: 52px;
  transform: translateY(+30px);
  transition: all 0.7s;
}
div svg.hover-icon:hover,
div svg.trash-icon:hover {
  background-color: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1.25);
  transition: transform 500ms ease, background-color 500ms ease;
}
div svg.trash-icon:hover {
  color: crimson;
}
div.hover-color:hover {
  background-color: #f5f2f2;
  cursor: pointer;
  border-radius: 30px;
  padding-inline-end: 3px;
  transform: scale(1.08);
  transition: transform 200ms, background-color 300ms;
}
a.premium-gold {
  color: #bb7309;
  font-weight: 300;
  text-wrap: nowrap;
}
.navPlaceholder {
  width: 300px;
}
div img.img-contain {
  object-fit: contain;
}
div a.link-hover,
div button.button-hover {
  color: #0a66c6;
  text-decoration: none;
}
div button.button-hover:hover,
div a.link-hover:hover {
  text-decoration: underline;
}

h6.hover:hover {
  color: #0a66c6 !important;
  text-decoration: underline !important;
  transition: all 150ms;
}

.fs-7 {
  font-size: 12px;
}

.hoverDiv:hover {
  background-color: rgb(237, 234, 234) !important;
  cursor: pointer;
}

.flex-grow-2 {
  flex-grow: 2;
}

.modalButtonHover:hover {
  box-shadow: 0 1px 3px rgb(0, 0, 0);
}

.search-input {
  position: relative;
  display: flex; /* Aggiunto per utilizzare il layout flexbox */
  align-items: center; /* Centra verticalmente gli elementi */
}

.search-icon {
  margin-right: 10px;
}

div button.disabled-post {
  cursor: not-allowed !important;
}

.navbar-text {
  line-height: 1;
  padding-top: 0.8rem;
  font-size: 18px;
  width: 200px;
  text-align: center;
  color: #915907 !important;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none !important;
}
