/* form {
  position: relative;
}

form svg {
  position: absolute;
  top: 50%;
  left: 0;
} */
.profile-scroll {
  opacity: 0;

  transition: all 1s ease;
}

.visible-scroll {
  background-color: #fbfbfb;
  opacity: 1;
  z-index: 2000;
  position: sticky;
  top: 57px;
  transform: translateY(+25px);
  transition: all 0.6s;
}

body {
  background-color: lightgrey;
}

.navPlaceholder {
  width: 300px;
}
div img.img-contain {
  object-fit: contain;
}
div a.link-hover,
div button.button-hover {
  color: #0a66c6;
  text-decoration: none;
}
div button.button-hover:hover,
div a.link-hover:hover {
  text-decoration: underline;
}
/* div button.button-hover {
  color: #0a66c6;
  text-decoration: none;
} */
h6.hover:hover {
  color: #0a66c6 !important;
  text-decoration: underline !important;
  transition: all 150ms;
}

.fs-7 {
  font-size: 12px;
}

.hoverDiv:hover {
  background-color: rgb(237, 234, 234) !important;
  cursor: pointer;
}

.flex-grow-2 {
  flex-grow: 2;
}

.modalButtonHover:hover {
  box-shadow: 0 1px 3px rgb(0, 0, 0);
}

.search-input {
  position: relative;
  display: flex; /* Aggiunto per utilizzare il layout flexbox */
  align-items: center; /* Centra verticalmente gli elementi */
}

.search-icon {
  margin-right: 10px;
}
